<div class="servicos-container">
  <h1 class="text-color text-uppercase font-weight-bold py-4 text-center text-2-5 text-2 ">
    Nossos Serviços
  </h1>

  <div class="carousel-container">
    <ngx-slick-carousel [config]="slideConfig" #slickModal="slick-carousel">
      <div ngxSlickItem *ngFor="let servico of servicos">
        <!-- Imagem -->
        <img [src]="servico.imagem" alt="{{servico.nome}}" class="carousel-img">

        <!-- Overlay -->
        <div class="carousel-overlay"></div>

        <!-- Conteúdo -->
        <div class="carousel-content">
          <h2>{{ servico.nome }}</h2>
          <p>{{ servico.descricao }}</p>
          <button class="btn-saiba-mais" (click)="openModal(servico)">
            SAIBA MAIS
          </button>
        </div>
      </div>
    </ngx-slick-carousel>

    <!-- Controles -->
    <button class="carousel-control carousel-control-prev" (click)="slickModal.slickPrev()">
      &lt;
    </button>
    <button class="carousel-control carousel-control-next" (click)="slickModal.slickNext()">
      &gt;
    </button>
  </div>
</div>

<app-modal [isOpen]="isModalOpen" [title]="modalTitle" [description]="modalDescription" (closeModal)="closeModal()">
</app-modal>
