/* Estilos do Footer */
.footer {
	position: relative;
	color: #fff;
	font-family: Arial, sans-serif;
	text-align: center;
	background: white;
	padding: 40px 20px;
  }

  /* Container do Footer */
  .footer-container {
	display: flex;
	justify-content: space-between;
	gap: 15px;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1100px;  /* Limitar a largura máxima */
	margin: 0 auto;
	align-items: flex-start;
  }

  /* Seção do Footer */
  .footer-section {
	position: relative;
	flex: 1;
	min-width: 250px;  /* Garante que cada seção tenha pelo menos 250px */
	padding: 10px;
	margin-bottom: 20px;
  }

  /* Título da seção no Footer */
  .footer-title {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
	text-transform: uppercase;
  }

  /* Estilo dos links do Footer */
  .footer-links,
  .footer-contact {
	list-style-type: none;
	padding: 0;
  }

  .footer-links li,
  .footer-contact li {
	margin-bottom: 8px;
  }

  .footer-links a,
  .footer-contact li {
	color: #ccc;
	text-decoration: none;
	font-size: 14px;
  }

  .footer-links a:hover,
  .footer-contact li:hover {
	color: #ff6600;
  }

  /* Ícones sociais do Footer */
  .social-icons {
	display: flex;
	gap: 10px;
	justify-content: center;
  }

  .social-icon {
	color: #fff;
	font-size: 24px;
	text-decoration: none;
	transition: color 0.3s ease;
  }

  .social-icon:hover {
	color: #ff6600;
  }

  /* Rodapé inferior */
  .footer-bottom {
	margin-top: 20px;
	font-size: 14px;
	color: #ccc;
  }

  /* Media query para telas pequenas (mobile) */
  @media (max-width: 768px) {

	.footer{
		display: flex;
		flex-direction: column;
		align-items: center;
	}


	.footer-section {
	  margin-bottom: 20px;
	}

	.social-icons {
	  justify-content: center;
	  gap: 15px;
	}
  }
