<nav #nav class="navbar navbar-expand-lg fixed-top navbar-dark "
     [ngClass]="{'minha-navbar ': scrolled, 'bg-transparent': !scrolled}">

  <!-- Logo posicionada absolutamente fora do container -->
  <div class="logo-absolute-wrapper" [class.scrolled]="scrolled">
    <a class="navbar-brand" href="#home">
      <img src="/assets/img/logo/Logo_AR_Branca.png"
           class="logo-img"
           alt="Logo">
    </a>
  </div>

  <div class="container">

    <!-- Botão Hamburguer -->
    <button class="navbar-toggler"
        type="button"
        (click)="toggleMenu()"
        [class.collapsed]="!menuAberto"
        aria-expanded="menuAberto"
        aria-label="Toggle navigation">
        <span class="navbar-icon">
          <span class="icon-bar top-bar"></span>
          <span class="icon-bar middle-bar"></span>
          <span class="icon-bar bottom-bar"></span>
        </span>
    </button>

    <!-- Links de Navegação -->
    <div class="collapse navbar-collapse" [class.show]="menuAberto" (click)="closeMenu()">
      <div class="menu-content" (click)="$event.stopPropagation()">
        <ul class="navbar-nav item-description">
          <li class="nav-item" *ngFor="let item of menuItems; let i = index" [ngStyle]="{'--i': i+1}">
            <a class="nav-link item-description" [href]="item.href" (click)="scrollToSection($event, item.id)">
              <i [class]="item.icon + ' mr-1'"></i> {{ item.label }}
            </a>
          </li>
        </ul>

      </div>
    </div>

  </div>
</nav>
