<nav class="navbar" >
    <div class="logo">
        <a href="#home">
            <img src="/assets/img/logo/Logo_AR_Branca.png" class="logo-img" alt="Logo">
        </a>
    </div>

    <!-- Ícone do menu hambúrguer -->
    <div class="menu-toggle" (click)="toggleMenu()" [class.active]="menuAberto">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>

    <!-- Links de navegação -->
    <ul [class.active]="menuAberto" [class.hidden]="!menuVisible" class="nav-links">
        <li><a href="#home" (click)="scrollToSection($event, 'home')"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="#servicos" (click)="scrollToSection($event, 'servicos')"><i class="fa-solid fa-snowflake"></i> Serviços</a></li>
        <li><a href="#sobre" (click)="scrollToSection($event, 'sobre')"><i class="fas fa-users"></i> Sobre Nós</a></li>
        <li><a href="#contato" (click)="scrollToSection($event, 'contato')"><i class="fas fa-phone-alt"></i> Contato</a></li>
    </ul>
</nav>

<!-- Overlay para fechar o menu ao clicar fora -->
<div class="overlay" (click)="toggleMenu()" [class.active]="menuAberto"></div>
