/* Container principal */
.sobre-empresa-container {
	position: relative;
	padding: 40px 20px;
	text-align: center;
	min-height: 100vh;
	background: white;
  }

  /* Título principal */
  .sobre-empresa-container h1 {
	color: #016086;
	margin-bottom: 40px;
	font-size: 2.5rem;
	text-align: left;
	width: 100%;
	padding-left: 20px;
  }

  /* Estilo dos itens */
  .sobre-empresa-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 60px;
	gap: 40px;
  }

  /* Alternar a ordem para layout intercalado */
  .sobre-empresa-item.reverso {
	flex-direction: row-reverse;
  }

  /* Estilo das imagens */
  .imagem img {
	width: 100%;
	max-width: 400px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease-in-out;
  }

  /* Descrição */
  .descricao {
	flex: 1 1 50%;
	text-align: left;
  }

  /* Card */
  .card {
	background-color: #fff;
	padding: 30px;

	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

 /* Animações de entrada */
.animate-left {
	opacity: 0;
	transform: translateX(-50px);
	animation: fadeInLeft 1s forwards;
  }

  .animate-right {
	opacity: 0;
	transform: translateX(50px);
	animation: fadeInRight 1s forwards;
  }

  /* Animações de saída */
  .animate-left-out {
	animation: fadeOutLeft 1s forwards;
  }

  .animate-right-out {
	animation: fadeOutRight 1s forwards;
  }

  /* Keyframes para animações de entrada */
  @keyframes fadeInLeft {
	to {
	  opacity: 1;
	  transform: translateX(0);
	}
  }

  @keyframes fadeInRight {
	to {
	  opacity: 1;
	  transform: translateX(0);
	}
  }

  /* Keyframes para animações de saída */
  @keyframes fadeOutLeft {
	from {
	  opacity: 1;
	  transform: translateX(0);
	}
	to {
	  opacity: 0;
	  transform: translateX(50px);
	}
  }

  @keyframes fadeOutRight {
	from {
	  opacity: 1;
	  transform: translateX(0);
	}
	to {
	  opacity: 0;
	  transform: translateX(-50px);
	}
  }
  /* Responsividade */
  @media screen and (min-width: 568px) and (max-width: 1024px)  {
    .sobre-empresa-item {
		flex-direction: column !important;
		align-items: center;
		text-align: center;
	  }

	  .imagem img {
		width: 100%;
		max-width: 300px;
		height: auto;
		display: block;
		margin: 0 auto;
		object-fit: cover;
	  }

	  .descricao {
		text-align: center;
	  }

	  /* Título principal */
	.sobre-empresa-container h1 {
		margin-bottom: 40px;
		margin-top: 0;
		font-size: 1.6rem;
		text-align: left;
		width: 100%;
		padding-left: 20px;
	}

	.sobre-empresa-container {
		position: relative;
		padding: 0;
		text-align: center;
		min-height: 100vh;
	  }

	 /* Animações de entrada */
	 @keyframes fadeInCenter {
		from {
		  opacity: 0;
		  transform: translateY(50px);
		}
		to {
		  opacity: 1;
		  transform: translateY(0);
		}
	  }

	  .animate-center {
		opacity: 0;
		animation: fadeInCenter 1s forwards;
	  }
  }

