<div class="sobre-empresa-container d-flex flex-column align-items-center min-vh-100 bg-white text-center py-4 py-md-5">
	<h1 class="text-color text-uppercase font-weight-bold w-100   text-2-5 text-2">
	  Sobre a Alves Refrigeração
	</h1>

	<div class="container">
	  <div *ngFor="let item of sobreEmpresaItems; let i = index"
		   class="sobre-empresa-item d-flex flex-column flex-md-row align-items-center justify-content-between my-4 my-md-5"
		   [ngClass]="{ 'flex-md-row-reverse': i % 2 !== 0 }">

		<!-- Imagem -->
		<div class="imagem-container col-md-6 px-3 mb-4 mb-md-0 puzzle-piece"
         [attr.data-piece]="i % 2 === 0 ? 'left' : 'right'"
         [class.animate-left]="!isMobile && i % 2 === 0"
         [class.animate-right]="!isMobile && i % 2 !== 0"
         [class.animate-center]="isMobile"
         #imageRef>
		  <img class="img-fluid shadow-lg transition-all w-100 mx-auto"
			   [src]="item.imgSrc"
			   [alt]="item.titulo"
			   style="max-width: 400px;">
		</div>

		<!-- Descrição -->
		<div class="descricao-container col-md-6 px-3 puzzle-piece"
         [attr.data-piece]="i % 2 === 0 ? 'right' : 'left'"
         [class.animate-left]="!isMobile && i % 2 !== 0"
         [class.animate-right]="!isMobile && i % 2 === 0"
         [class.animate-center]="isMobile"
         #descRef>
		  <div class="card shadow-sm p-3  h-100">
			<h2 class="font-weight-bold mb-3">{{ item.titulo }}</h2>
			<p class="text-left">{{ item.descricao }}</p>
		  </div>
		</div>
	  </div>
	</div>
  </div>
