.urgency-message {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d333;
  color: white;
  padding: 10px;
  border-radius: 52%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
  z-index: 9999;
}

.urgency-message p {
  margin: 0;
  padding-right: 10px;
}

.urgency-message i {
	  font-size: 2rem;
  }

.urgency-message button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.urgency-message a {
  color: white;
  text-decoration: none;
}

.urgency-message a:hover {
  text-decoration: underline;
}
