<!-- Spinner de carregamento -->
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<!-- Navbar separado -->
<section id="home" class="section" #sectionRef>
  <app-home></app-home>
</section>

<section id="servicos" class="section" #sectionRef>
  <app-servicos *ngIf="visibleSections['servicos']"></app-servicos>
</section>

<section id="sobre" class="section" #sectionRef>
  <app-sobre *ngIf="visibleSections['sobre']"></app-sobre>
</section>

<section id="contato" class="section" #sectionRef>
  <app-contato *ngIf="visibleSections['contato']"></app-contato>
</section>

<app-footer></app-footer>
<app-urgency-button></app-urgency-button>
