<app-navbar></app-navbar>  <!-- Navbar separado -->

<!-- Seções que usam o conteúdo dos componentes -->
<section id="home" class="section">
  <app-home></app-home>  <!-- Conteúdo do HomeComponent -->
</section>

<section id="servicos" class="section">
  <app-servicos></app-servicos>  <!-- Conteúdo do ServicosComponent -->
</section>

<section id="sobre" class="section">
  <app-sobre></app-sobre>  <!-- Conteúdo do SobreComponent -->
</section>

<section id="contato" class="section">
  <app-contato></app-contato>  <!-- Conteúdo do ContatoComponent -->
</section>


<app-footer></app-footer>
