<!-- 🚀 Spinner de carregamento -->
<ngx-spinner type="ball-scale-multiple" *ngIf="isLoading"></ngx-spinner>

<!-- ✅ Exibe o conteúdo SOMENTE depois que o spinner for carregado -->
<div *ngIf="!isLoading">
  <app-navbar></app-navbar>
  <section id="home" class="section" #sectionRef *ngIf="visibleSections['home']">
    <app-home></app-home>
  </section>

  <section id="servicos" class="section" #sectionRef *ngIf="visibleSections['servicos']">
    <app-servicos></app-servicos>
  </section>

  <section id="sobre" class="section" #sectionRef *ngIf="visibleSections['sobre']">
    <app-sobre></app-sobre>
  </section>

  <section id="contato" class="section" #sectionRef *ngIf="visibleSections['contato']">
    <app-contato></app-contato>
  </section>

  <app-footer></app-footer>
  <app-urgency-button></app-urgency-button>
</div>
