<section class="hero">
	<!-- Camada de overlay para o efeito escurecido no fundo -->
	<div class="overlay"></div>

	<!-- Conteúdo principal da Hero Section -->
	<div class="hero-content">
	  <h1>Bem-vindo à <span>Alves Refrigeração!</span></h1>
	  <p class="text">Especialistas em <strong>instalação</strong> e <strong>manutenção</strong> de ar-condicionado.</p>

	  <!-- Botão de chamada para ação (CTA) -->
	  <button class="cta-button" (click)="goToServicos()">
		<i class="fa fa-tools"></i> Solicite um Orçamento
	  </button>

	  <!-- Frase de urgência -->
	  <div class="urgency-message">
	    <p><strong>Urgência?</strong> Ligue já e fale com um técnico!
	     Ligar: <a href=""></a></p>
	  </div>
	</div>

	<!-- Imagem que vai balançar -->
	<div class="balanco-imagem" [ngClass]="{ 'show': isImageVisible }">
	  <img src="img/refrigeracao.png" alt="Imagem Balançando" />
	</div>
</section>
