<section class="hero">
  <!-- Spinner só aparece se isLoading for true -->
  <ngx-spinner *ngIf="isLoading" bdColor="rgba(0,0,0,0.5)" size="medium" color="#fff" type="ball-spin"></ngx-spinner>
  <app-navbar></app-navbar>
  <div #parallaxBg class="parallax-bg"></div>
  <div class="overlay"></div>

  <!-- Conteúdo Principal -->
  <div class="hero-content" [ngClass]="{ 'slide-in-left': isContentVisible, 'visible': isContentVisible }">

    <!-- Logo -->
    <a href="#home" class="logo-container">
      <img src="/assets/img/logo/Logo_AR_Branca.png" class="logo-img" alt="Logo">
    </a>

    <!-- <h1>Soluções Completas para Refrigeradores</h1> -->
    <p class="text">
      Oferecemos <strong>manutenção preventiva e corretiva</strong> para sistemas de refrigeração, garantindo
      eficiência. Nossa expertise abrange <strong> geladeiras, freezers,
      bebedouros, chopeiras e ar-condicionado,</strong> proporcionando economia de energia e desempenho ideal.
    </p>

    <ul class="diferenciais">
      <li><i class="fa fa-clock"></i> Atendimento 24 horas para emergências</li>
      <li><i class="fa fa-shield"></i> Garantia de 90 dias em todos os serviços</li>
      <li><i class="fa fa-certificate"></i> Técnicos certificados</li>
    </ul>

    <button class="cta-button" (click)="goToServicos()">
      <i class="fa fa-tools"></i> Agende uma Visita Técnica!
    </button>
  </div>
</section>
