



  .hero {
	/*background-image: url('sua-imagem-de-fundo.jpg'); /* Substitua pelo caminho da sua imagem */
	background-size: cover; /* Faz com que a imagem cubra toda a área */
	background-position: center; /* Centraliza a imagem */
	background-repeat: no-repeat; /* Evita repetição da imagem */
	height: 100vh; /* Garante que a hero section ocupe toda a altura da tela */
	text-align: center;
	color: #21558d; /* Cor do texto */
	padding: 50px 20px; /* Ajusta o padding */
  }


  .hero h1 {
	font-size: 3rem;
	color: #255383;
  }

  .hero p {
	font-size: 1.5rem;
	margin: 20px 0;
  }

  .hero button {
	padding: 10px 20px;
	background-color: #0d63c0;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 5px;
  }

  .hero button:hover {
	background-color: #0056b3;
  }

  /* Media Query para telas pequenas (smartphones) */
  @media (max-width: 768px) {
	/* Ajusta o menu para ficar em uma coluna em telas menores */
	nav ul {
	  flex-direction: column; /* Muda de linha para coluna */
	  align-items: center; /* Centraliza os itens na coluna */
	}

	nav ul li a {
	  font-size: 1rem; /* Ajusta o tamanho da fonte */
	}

	.hero {
	  padding: 20px; /* Ajusta o padding da hero section */
	}

	.hero h1 {
	  font-size: 2rem; /* Ajusta o tamanho do título */
	}

	.hero p {
	  font-size: 1rem; /* Ajusta o tamanho do parágrafo */
	}

	.hero button {
	  padding: 6px 12px; /* Ajusta o tamanho do botão */
	}
  }

  /* Media Query para telas muito pequenas (mobile) */
  @media (max-width: 480px) {
	/* Ajustes adicionais para telas menores */
	.hero h1 {
	  font-size: 2rem; /* Ajusta ainda mais o título */
	}

	.hero p {
	  font-size: 1rem; /* Ajusta o tamanho do parágrafo */
	}

	nav ul li a {
	  font-size: 1rem; /* Ajusta o tamanho dos links no menu */
	}

	.hero button {
	  padding: 6px 12px; /* Ajusta o tamanho do botão */
	}
  }
