.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5); /* Fundo escuro */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
  }

  .modal-content {
	background: white;
	padding: 20px;
	border-radius: 10px;
	max-width: 500px;
	width: 100%;
  }

  button {
	background-color: #65b029;
	color: white;
	border: none;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
  }

  button:hover {
	background-color: #4a8c1f;
  }
