/* Reset Global */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }

  html body {
	line-height: 1.6;
    margin: 0;
    padding: 0;
	width: 100vw;
	font-family: Manrope, "Manrope-Fallback", Arial, sans-serif;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.1px;
	overflow: none;
	overflow-y: auto;
  }
  html {
	scroll-behavior: smooth;  /* Rolagem suave */
	scroll-padding-top: 80px;  /* Ajusta o espaço para a altura da navbar */
  }

  @font-face {
	font-family: 'slick';
	src: url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/fonts/slick.eot');
	src: url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/fonts/slick.eot?#iefix') format('embedded-opentype'),
		 url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/fonts/slick.woff') format('woff'),
		 url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/fonts/slick.ttf') format('truetype'),
		 url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/fonts/slick.svg#slick') format('svg');
	font-weight: normal;
	font-style: normal;
  }

  /* Aqui você pode adicionar qualquer outro estilo para seu conteúdo */
