/* Reset Global */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }

  html, body {
	width: 100%;  /* Garante que o conteúdo ocupe 100% da largura da tela */
	height: 100%;  /* Garante que o conteúdo ocupe 100% da altura da tela */
	overflow-x: hidden;  /* Impede a rolagem horizontal indesejada */
  }

  body {
	font-family: 'Arial', sans-serif;
	line-height: 1.6;
background-color: #31557c;
	background-size: cover;  /* A imagem vai cobrir todo o fundo */
	background-position: center center;  /* Posiciona a imagem no centro da tela */
	background-attachment: fixed;  /* Faz com que a imagem de fundo não se mova ao rolar a página */
	background-repeat: no-repeat;  /* Evita a repetição da imagem */
	min-height: 100vh;  /* Garante que o fundo cubra toda a altura da tela */
  }
  html {
	scroll-behavior: smooth;  /* Rolagem suave */
	scroll-padding-top: 80px;  /* Ajusta o espaço para a altura da navbar */
  }


  /* Aqui você pode adicionar qualquer outro estilo para seu conteúdo */
